<main role="main">

    <div class="jumbotron">
        <h1 class="display-3">Central de Distruidores</h1>
        <p class="lead">
            Crazy drunk drivers. Well, I guess that's everything. Yeah, it's 8:00. Oh Mom, there's nothing wrong with calling a boy.
            Well, they're your parents, you must know them. What are their common interests, what do they like to do together?
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Regiões</h4>
            <p>No, Biff, you leave her alone. You know, Doc, you left your equipment on all week.</p>
            <button [routerLink]="['/regioes']" class="btn btn-info">Visitar</button>
        </div>

        <div class="col-lg-6">
            <h4>Fornecedores</h4>
            <p>But I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need</p>
            <button [routerLink]="['/fornecedores']" class="btn btn-info">Visitar</button>
        </div>
    </div>

</main>

